.light .side-nav,
.light .view-nav {
	background: #fafafa;
}

.light .grid article {
	color: #fff;
}

.light .side-nav h3 {
    border-top: 1px solid #ddd;
    padding-top: 0.5em;
}

.light .side-nav li:hover,
.light .side-nav button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.light .top-nav li:hover,
.light .top-nav button:hover {
	color: #1ad6fd;
}

.light [data-modal] [data-form] {
	background-color: #fff;
}