[data-action='save'].unsaved {
	color: #b93d30;
}

iframe, embed, object, img, .video-wrapper{
	max-width: 50%;
	max-height: 50%;
}

table, code {
	overflow-x: scroll;
	max-width: 100%;
}

a {
    color: #08c;
}

mark {
    color: #FFEB3B;
}

#editor ul,
#editor ol,
#preview ul,
#preview ol {
    padding-left: 1.3em;
}
.video-wrapper iframe,  .video-wrapper webview{
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	min-height: 30vh;
	min-width: 30vw;
}

body.light tr, body.light td {
	border: 1px solid #424242;
	padding: 0.5em;
}

body.dark tr, body.dark td {
	border: 1px solid #fafafa;
	padding: 0.5em;
}

body.light pre {
	border: 1px solid rgba(66, 66, 66, 0.11);
	color: #424242;
}

body.dark pre {
	border: 1px solid #333333;
	color: #e0e0e0;
}

#view h1, #editor h1 {
	margin: 1rem 0;
    font-size: 2rem;
}

#view h2, #editor h2 {
	margin: 1rem 0;
    font-size: 1.8rem;
}

#view h3, #editor h3 {
	margin: 1rem 0;
    font-size: 1.6rem;
}

#view h4, #editor h4 {
	margin: 1em 0;
    font-size: 1.4rem;
}

#view h5, #editor h5 {
	margin: 1rem 0;
    font-size: 1.2rem;
}
#view h6, #editor h6 {
	margin: 1rem 0;
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
	line-height: normal;
}

b {
	font-weight: bold;
}