/**
 * ==============================
 * Kayros 0.1.0 | MIT License
 * http://aegisframework.com/
 * ==============================
 */

html {
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-size: 100%;
	margin: 0;
	padding: 0;
	color: #424242;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

progress {
	vertical-align: baseline;
}

template,
[hidden] {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	background-color: transparent;
  	-webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: bolder;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
	-webkit-user-drag: none;
	user-drag: none;
	-webkit-touch-callout: none;
	border: 0;
	max-width: 100%;
}

svg:not(:root) {
	overflow: hidden;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

optgroup {
	font-weight: bold;
}

button,
input {
	overflow: visible;
}

button,
select {
  	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	outline: none;
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

textarea {
	resize: none;
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.unselectable, img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/**
* ==============================
* Alignment and Distribution
* ==============================
*/

.vertical > * {
	display: block;
}

.horizontal > * {
	display: inline-block;
}

.bottom {
	position: absolute;
	bottom: 0;
	margin: 0;
}

.middle {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	position: absolute;
}

.center {
	margin: 0 auto;
	left: 0;
	right: 0;
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-justify {
	text-align: justify;
}
/**
* ==============================
* Paddings
* ==============================
*/

.padded-0 {
	padding: 0;
}

.padded-1 {
	padding: 1em;
}

.padded-2 {
	padding: 2em;
}

.padded-3 {
	padding: 3em;
}

.padded-4 {
	padding: 4em;
}

.padded-5 {
	padding: 5em;
}

/**
* ==============================
* Code
* ==============================
*/

pre {
	background: #f5f5f5;
	padding: 1em;
	overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * ==============================
 * CSS Fixes
 * ==============================
 */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	max-width: 60rem;
	width: 95%;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0 !important;
}


/*
 * ==========================================================================
 * Font Importing
 * ==========================================================================
 */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

/*
 * ==========================================================================
 * Common Elements Styling
 * ==========================================================================
 */

body {
    outline: none;
    overflow: visible;
    font-family: 'Arial', sans-serif;
    font-size: 9pt;
}

section {
	display: none;
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	overflow-y: scroll;
	overflow-x: hidden;
}

section.active {
	display: block;
}


ul {
	margin: 0;
	padding: 0;
}

iframe,
embed,
object,
img,
.video-wrapper {
	max-width: 50%;
	max-height: 50%;
}

table,
code {
	overflow-x: scroll;
	max-width: 100%;
}

tr,
td,
th {
	border: 1px solid #424242;
	padding: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
	line-height: normal;
}

b {
	font-weight: bold;
}

::-webkit-scrollbar {
    background: transparent;
	width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

[data-action='local-image'] {
	margin: 0 auto;
}


/*
 * ==========================================================================
 * Editor and Preview Elements Styling
 * ==========================================================================
 */


h1 {
	margin: 1rem 0;
    font-size: 12pt;
    font-weight: bold;
}

h2 {
	margin: 1rem 0;
    font-size: 10.5pt;
    font-weight: bold;
}

h3, h4, h5, h6 {
	margin: 1rem 0;
    font-size: 9pt;
    font-weight: bold;
}

/*
 * ==========================================================================
 * Prism Styling
 * ==========================================================================
 */

code[class*="language-"],
pre[class*="language-"] {
	font-family: monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	line-height: 1.5;
	word-break: normal;
	font-size: 8pt;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	position: relative;
	margin: .5em 0;
	background: transparent;
	border: 1px solid rgba(66, 66, 66, 0.11);
	background-size: 3em 3em;
	background-origin: content-box;
	overflow: visible;
}

code[class*="language"] {
	padding: 0.1em 1em;
	display: block;
	overflow: visible;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	position: relative;
	padding: .2em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	border-radius: 0.3em;
	color: #c92c2c;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
	right: 0.75em;
	left: auto;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype {
	color: #878787;
	font-style: italic;
}

.token.cdata {
	color: #bb2500;
}

.token.punctuation {
	color: #5F6364;
}

.token.boolean {
	color: #007ab7;
}

.token.string {
	color: #dd2400;
}

.token.function {
	color: #5c99ad;
}

.token.property {
	color: #0045aa;
}

.token.tag {
	color: #0045aa;
}

.token.number {
	color: #007ab7;
}

.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
	color: #c92c2c;
}

.token.attr-name{
	color: #007ab7;
}

.token.selector,
.token.char,
.token.builtin,
.token.inserted {
	color: #2f9c0a;
}



.token.operator {
	color: #006ff8;
}

.token.url {
	color:#004ccb;
	font-underline:none;
}

.token.entity {
	color: #007ab7;
}

.token.variable {
	color: #8735a5;
}

.token.keyword {
	color:#0045aa;
	font-weight:normal;
}

.token.atrule {
	color: #de7a31;
	font-style: normal;
	font-weight: bold;
}

.token.attr-value {
	color: #5d8f00;
	font-weight: normal;
}

.token.class-name {
	color: #1990b8;
}

.token.regex,
.token.important {
	color: #e90;
}

.language-css .token.string,
.style .token.string {
	color: #f4378f;
}

.language-css .token.property,
.style .token.property {
	color: #0045aa;
}

.language-css .token.number,
.style .token.number {
	color: #dd2400;
}

.language-css .token.hexcode,
.style .token.hexcode {
	color: #d72d65;
}

.token.important {
	font-weight: normal;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.namespace {
	opacity: .7;
}

@media screen and (max-width: 767px) {
	pre[class*="language-"]:before,
	pre[class*="language-"]:after {
		bottom: 14px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
	color: #e0d7d1;
}


/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
pre[data-line] code {
	position: relative;
	padding-left: 4em;
}
pre .line-highlight {
	margin-top: 0;
}

.token a {
	color: inherit;
}

code[class*="language-"] a[href],
pre[class*="language-"] a[href] {
	cursor: help;
	text-decoration: none;
}

code[class*="language-"] a[href]:hover,
pre[class*="language-"] a[href]:hover {
	cursor: help;
	text-decoration: underline;
}